@page "/doadNovo/index"
@page "/doadNovo/index/{id}"
@using Operacao.Shared.Models;
@using Operacao.Shared.Utils;
@inject HttpClient Http
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject IJSRuntime JsRuntime

@if (!string.IsNullOrEmpty(message))
{
    <span style="color:red;">@message</span>
}
else
{
    <form method="post" @onsubmit="@Submit" autocomplete="off">
        <input type="hidden" name="id" @bind="@doadNovo.Id" />
        <div class="form-row">
            <div class="col">
                <label>Telefone</label>
                <input type="text" class="form-control" readonly @bind-value="@doadNovo.Telefone" />
            </div>
            <div class="col">
                <label>Retorno</label>
                <input type="text" class="form-control" readonly @bind-value="@doadNovo.DtRetorno" />
            </div>
            <div class="col">
                <label>Ação</label>
                <select class="form-control" name="acao" @bind="@acao">
                    <option>Contribuiu</option>
                    <option>Boleto</option>
                    <option>Já  contribui</option>
                    <option>Não contribuiu (NC)</option>
                    <option>Não Atendeu (NA)</option>
                    <option>Agendar Retorno</option>
                    <option>Não existe</option>
                    <option>Não Ligar mais</option>
                    <option>Número desativado</option>
                    <option>Ocupado</option>
                    <option>Enviar a Coordenadora</option>
                    <option>Cidade de fora</option>
                </select>
            </div>
            <div class="col"><button type="submit" class="btn btn-success" style="margin-top:30px;">Salvar</button></div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Bairro</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" @bind-value="@doadNovo.Bairro">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @onclick="@(() => AbrirModal("Bairro"))">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <label>Cidade</label>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" @bind-value="@doadNovo.Cidade">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @onclick="@(() => AbrirModal("Cidade"))">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <label>Celular 1</label>
                <input type="text" class="form-control" name="celular1" @bind-value="@doadNovo.Celular1" />
            </div>
            <div class="col">
                <label>Celular 2</label>
                <input type="text" class="form-control" name="celular2" @bind-value="@doadNovo.Telefone" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>Obs. Coordenação</label>
                <textarea class="form-control" rows="2" name="obsCoord" @bind="@doadNovo.ObsCoordenacao" @bind:event="oninput"></textarea>
            </div>
            <div class="col">
                <label>Obs. Operação</label>
                <textarea class="form-control" rows="2" name="obsOper" @bind="@doadNovo.ObsOperacao" @bind:event="oninput"></textarea>
            </div>
        </div>
    </form>
}

@if (showModal)
{
    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Consulta - @tipoBusca</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="()=> showModal=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" @bind-value="@search" @onkeyup="Enter">
                        <div class="input-group-append">
                            @if (tipoBusca == "Bairro")
                            {
                                <button class="btn btn-outline-secondary" type="button" @onclick="()=> BuscarBairro(search)">Buscar</button>

                            }
                            else
                            {
                                <button class="btn btn-outline-secondary" type="button" @onclick="()=> BuscarCidade(search)">Buscar</button>
                            }

                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (string item in list)
                            {
                                <tr>
                                    <td>@item</td>
                                    <td><button class="btn btn-primary" @onclick="()=> Selecionar(item)"><span class="oi oi-check" aria-hidden="true"></span></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}


<style>
    /*.blazored-typeahead__input {
        height: calc(1.5em + .75rem + 2px);
    }

    .blazored-typeahead__controls {
        height: calc(1.5em + .75rem + 2px);
    }*/
    .modal {
        display: block !important; /* I added this to see the modal, you don't need this */
    }

    /* Important part */
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        height: 500px;
        overflow-y: auto;
    }
</style>

@code {
    [Parameter]
    public string Id { get; set; }

    private Funcionario usuario;
    private DoadNovo doadNovo = new DoadNovo();
    private string message;
    private string acao = "";
    private List<string> cidades = new List<string>();
    private List<string> bairros = new List<string>();
    private List<string> list = new List<string>();

    bool showModal = false;
    string search = "";
    string tipoBusca = "";

    protected override async Task OnInitializedAsync()
    {
        usuario = sessionStorage.GetItem<Funcionario>("usuario");

        bairros = await Http.GetFromJsonAsync<List<string>>("api/endereco/bairros");
        cidades = await Http.GetFromJsonAsync<List<string>>("api/endereco/cidades");

        if (string.IsNullOrEmpty(Id))
        {
            message = "Não há código para consulta";
        }

        else
        {
            doadNovo = await Http.GetFromJsonAsync<DoadNovo>("api/doadnovo/" + Id);
            if (doadNovo.Id == 0)
            {
                message = "Não há telefone com esse código";
            }
        }

        //await JsRuntime.InvokeVoidAsync("PassarValorClass", "blazored-typeahead__input", 0, doadNovo.Bairro);
        //await JsRuntime.InvokeVoidAsync("PassarValorClass", "blazored-typeahead__input", 1, doadNovo.Cidade);
    }

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(acao))
        {
            message = "Selecione a ação";
        }

        await Http.PutAsJsonAsync<DoadNovo>("api/doadnovo/update1/" + Id, doadNovo);


        switch (acao)
        {
            case "Agendar Retorno":
                NavManager.NavigateTo("/doadNovo/agenda/" + Id + "/" + doadNovo.Telefone);
                break;

            case "Contribuiu":
                NavManager.NavigateTo("/doadNovo/contribuiu/" + Id + "/false");
                break;

            case "Boleto":
                NavManager.NavigateTo("/doadNovo/contribuiu/" + Id + "/true");
                break;

            case "Cidade de fora":
                NavManager.NavigateTo("/doadNovo/cidadefora/" + Id);
                break;

            case "Enviar a Coordenadora":
                doadNovo.DtRetorno = Converter.TimeZone(DateTime.UtcNow).AddYears(5);
                doadNovo.UltimaAcao = acao;
                doadNovo.FuncionarioId = 1;

                await Http.PutAsJsonAsync<DoadNovo>("api/doadnovo/update2/" + Id, doadNovo);
                await InserirAcao("Enviou para Coordenadora");

                NavManager.NavigateTo("/doadNovo/index", true);
                break;

            default:

                int seg = await Http.GetFromJsonAsync<int>("api/criteriodoadnovo/" + acao);
                DateTime dtRetorno = Converter.TimeZone(DateTime.UtcNow).AddMinutes(seg);

                doadNovo.DtRetorno = dtRetorno;
                doadNovo.UltimaAcao = acao;
                doadNovo.FuncionarioId = 0;

                await Http.PutAsJsonAsync<DoadNovo>("api/doadnovo/update2/" + Id, doadNovo);
                await InserirAcao(acao);

                NavManager.NavigateTo("/doadNovo/index", true);
                break;
        }
    }

    private async Task InserirAcao(string acao)
    {
        AcaoDoadNovo acaoDoadNovo = new AcaoDoadNovo
        {
            PessoaId = Convert.ToInt32(Id),
            Telefone = doadNovo.Telefone,
            Descricao = acao,
            Dt = Converter.TimeZone(DateTime.UtcNow),
            FuncionarioId = usuario.Id
        };

        await Http.PostAsJsonAsync<AcaoDoadNovo>("api/AcaoDoadNovo", acaoDoadNovo);
    }

    private async Task BuscarBairro(string nome)
    {
        list = await Task.FromResult(bairros.Where(x => x.ToUpper().Contains(nome.ToUpper())).ToList());
    }

    private async Task BuscarCidade(string nome)
    {
        list = await Task.FromResult(cidades.Where(x => x.ToUpper().Contains(nome.ToUpper())).ToList());
    }

    void Selecionar(string item)
    {
        if (tipoBusca == "Bairro")
        {
            doadNovo.Bairro = item;
        }
        else
        {
            doadNovo.Cidade = item;
        }

        showModal = false;
        search = "";
    }

    void AbrirModal(string tipo)
    {
        tipoBusca = tipo;
        showModal = true;

        if (tipo == "Bairro")
        {
            list = bairros;
        }
        else
        {
            list = cidades;
        }
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (tipoBusca == "Bairro")
            {
                await BuscarBairro(search);
            }
            else
            {
                await BuscarCidade(search);
            }
        }
    }

}


